<!-- src/app/components/book-list/book-list.component.html -->
<div>
  <h2>Lista de Livros</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Gênero</th>
        <th>ISBN</th>
        <th>Ano</th>
        <th>Disponível</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of livros">
        <td>{{ livro.id }}</td>
        <td>{{ livro.titulo }}</td>
        <td>{{ livro.autor }}</td>
        <td>{{ livro.genero }}</td>
        <td>{{ livro.isbn }}</td>
        <td>{{ livro.ano }}</td>
        <td>{{ livro.disponivel ? 'Sim' : 'Não' }}</td>
        <td>
          <button (click)="toggleDisponibilidade(livro.id)">
            {{ livro.disponivel ? 'Reservar' : 'Cancelar Reserva' }}
          </button>
          <button (click)="deleteLivro(livro.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Botão para cadastrar um novo livro -->
  <button [routerLink]="['/livro/new']">Cadastrar Novo Livro</button>
</div>
